body {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	min-width: 100vh;
}

.my_logo{
	display: flex;
	flex: auto;
	flex-direction: column;
	max-width: 100vh;
	height: auto;
}

.my_clear{
	clear: both;
}